---
import Page from '../layouts/Page.astro';

const title = "Error 404";
---

<Page title={title}>
	<p>The page couldn’t be found. Either the link is broken or the page has been moved.

	<p>Return to the <a href="/">home page</a>.</p>
</Page>