---
import Page from '../layouts/Page.astro';

const title = "Subscription Confirmed";
---

<Page title={title}>
	<p>You’re officially confirmed and on the list. Expect some great emails headed your way very soon.</p>
    
    <p>Return to the <a href="/">home page</a>.</p>
</Page>