---
import Page from '../layouts/Page.astro';

const title = "Thanks for Subscribing";
---

<Page title={title}>
	<p>We've got your info and appreciate the connection. Check your email to confirm your subscription.</p>
    
    <p>Return to the <a href="/">home page</a>.</p>
</Page>