---
import Page from '../layouts/Page.astro';

const title = "Thanks";
---

<Page title={title}>
	<p>We've got your message and appreciate the connection. Expect to hear from us soon.</p>
    
    <p>Return to the <a href="/">home page</a>.</p>
</Page>