---
import Theme from './Theme.astro';
---

<div class="header">
    <nav>
        <a href="/">
            <svg id="logo" height="1.5rem" viewBox="0 0 960 200.95">
                <path class="cls-1" d="M480,466.94h39.46l21.79,94.48h1.28l22.7-94.48H604L627,560.87h1.19l21.42-93.93H689L650.83,607.56H609.54l-24.17-88.43h-1.74l-24.16,88.43h-41.2Z" transform="translate(-480 -409.36)"/>
                <path class="cls-1" d="M700,429c0-10.8,9.52-19.68,21-19.68s21.15,8.88,21.15,19.68-9.52,19.78-21.15,19.78S700,439.94,700,429Zm1.46,37.9h39V607.56h-39Z" transform="translate(-480 -409.36)"/>
                <path class="cls-1" d="M760,537.8c0-43.58,26.55-72.69,69.21-72.69s69.21,29.11,69.21,72.69c0,43.31-26.55,72.51-69.21,72.51S760,581.11,760,537.8Zm98.78-.27c0-24.54-10.07-42.66-29.39-42.66-19.68,0-29.75,18.12-29.75,42.66s10.07,42.57,29.75,42.57C848.73,580.1,858.8,562.06,858.8,537.53Z" transform="translate(-480 -409.36)"/>
                <path class="cls-1" d="M910.91,537.8c0-43.12,26.36-72.69,69-72.69,36.72,0,61.34,21.33,63,53.83h-36.8c-2.11-14-11.26-23.43-25.55-23.43-18.12,0-30,15.19-30,41.74,0,26.92,11.81,42.21,30,42.21,13.37,0,23.26-8.42,25.55-23.44h36.8c-1.83,32.32-25.36,54.29-62.8,54.29C936.81,610.31,910.91,580.56,910.91,537.8Z" transform="translate(-480 -409.36)"/>
                <path class="cls-1" d="M1055.19,537.8c0-43.58,26.55-72.69,69.22-72.69s69.21,29.11,69.21,72.69c0,43.31-26.55,72.51-69.21,72.51S1055.19,581.11,1055.19,537.8Zm98.79-.27c0-24.54-10.07-42.66-29.39-42.66-19.68,0-29.76,18.12-29.76,42.66s10.08,42.57,29.76,42.57C1143.91,580.1,1154,562.06,1154,537.53Z" transform="translate(-480 -409.36)"/>
                <path class="cls-1" d="M1213.18,466.94H1251v24.54h1.46c5.13-17.4,18-26.55,33.78-26.55a58.81,58.81,0,0,1,12.27,1.37v34.61c-3.66-1.19-11.08-2.11-16.48-2.11-17.21,0-29.84,11.9-29.84,29.21v79.55h-39Z" transform="translate(-480 -409.36)"/>
                <path class="cls-1" d="M1305.7,537.89c0-43.39,26.82-72.78,68.2-72.78,37.17,0,66.1,23.62,66.1,71.41v10.71h-95.76v.09c0,21,12.36,33.88,31.86,33.88,13,0,23.07-5.59,27-16.3l36.07,2.38c-5.5,26.09-28.93,43-63.72,43C1332.15,610.31,1305.7,582.48,1305.7,537.89Zm97.59-14.83c-.09-16.75-11.81-28.84-28.75-28.84-17.3,0-29.48,12.82-30.3,28.84Z" transform="translate(-480 -409.36)"/>
            </svg>
        </a>
    </nav>
</div>

<div class="header">
    <nav>
        <a href="/posts">Posts</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
    <Theme />
</div>